body {
    background-color: #F6F6F6;
}
        
#overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        background: #000;
        opacity: 0.7;
        z-index: 9000;
        width: 100%;
        height: 100%;
        display: none;
}

#enterWindow {
        width: 270px;
        height: 220px;
        border: 1px solid #e8e8e8;
        background: #fdfdfd;
        display: none;
        z-index: 9001;
}

#exitWindow {
        width: 270px;
        height: 170px;
        border: 1px solid #e8e8e8;
        background: #fdfdfd;
        display: none;
        z-index: 9002;
}

#newOrderWindow {
        width: 270px;
        height: 580px;
        border: 1px solid #e8e8e8;
        background: #fdfdfd;
        display: none;
        z-index: 9001;
}

#getStatisticWindow {
        width: 270px;
        height: 410px;
        border: 1px solid #e8e8e8;
        background: #fdfdfd;
        display: none;
        z-index: 9001;
}