.carousel  {
   max-width: 2400px; /* ширина всего блока */
   //margin: 50px auto;
   height: 560px;
}

.carousel2  {
   max-width: 2400px; /* ширина всего блока */
   //margin: 50px auto;
   height: 120px;
}

.carousel3  {
   max-width: 2400px; /* ширина всего блока */
   //margin: 50px auto;
   height: 200px;
}

.carousel4  {
   max-width: 2400px; /* ширина всего блока */
   //margin: 50px auto;
   height: 550px;
}

.carousel-wrapper {
   margin: 10px 30px; /* отступы для стрелок */
   overflow: hidden; /* скрываем содержимое, выходящее за рамки основной области */
   position:relative;
}
.carousel-items {
   width: 4800px; /* устанавливаем большую ширину для набора элементов */
   position: relative; /* позиционируем блок относительно основной области карусели */
}
.carousel-block {
   float: left; /* выстраиваем все элементы карусели в ряд */
   width: 600px; /* задаём ширину каждого элемента */
   padding: 10px 10px 10px 0px; /* делаем оступы, чтобы элементы не сливались */
}
.carousel-block img{
	display:block;
}

/*********** BUTTONS ***********/
.carousel-button-left a, .carousel-button-right a{
   width: 28px; 
   height: 28px; 
   position: relative;
   top: 265px; 
   cursor: pointer; 
   text-decoration:none;
}
.carousel-button-left a{
   float: left; 
   background: url(../img/carousel-left.png); 
}
.carousel-button-right a{
   float: right;
   background: url(../img/carousel-right.png); 
}

/*********** SHADOW ***********/
.shadow{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}


.carousel-button-left2 a, .carousel-button-right2 a{
   width: 28px; 
   height: 28px; 
   position: relative;
   top: 50px; 
   cursor: pointer; 
   text-decoration:none;
}
.carousel-button-left2 a{
   float: left; 
   background: url(../img/carousel-left.png); 
}
.carousel-button-right2 a{
   float: right;
   background: url(../img/carousel-right.png); 
}

.carousel-button-left3 a, .carousel-button-right3 a{
   width: 28px; 
   height: 28px; 
   position: relative;
   top: 90px; 
   cursor: pointer; 
   text-decoration:none;
}
.carousel-button-left3 a{
   float: left; 
   background: url(../img/carousel-left.png); 
}
.carousel-button-right3 a{
   float: right;
   background: url(../img/carousel-right.png); 
}

.carousel-button-left4 a, .carousel-button-right4 a{
   width: 28px; 
   height: 28px; 
   position: relative;
   top: 240px; 
   cursor: pointer; 
   text-decoration:none;
}
.carousel-button-left4 a{
   float: left; 
   background: url(../img/carousel-left.png); 
}
.carousel-button-right4 a{
   float: right;
   background: url(../img/carousel-right.png); 
}